<li class="hm-wishlist">
    <a href="@Url.Action("Index","Wishlist")">
        <span class="cart-item-count wishlist-item-count">@ViewBag.Count</span>
        <i class="fa fa-heart-o"></i>
    </a>
</li>
