
<ul class="sidebar-menu" data-widget="tree" style="margin-top:20px">
    <li class="header">CHUNG</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Tài khoản</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/ManageAccount/ListAccount">Danh sách tài khoản</a></li>
            <li><a href="/Admin/ManageCustomer">Danh sách tài khoản</a></li>
            <li><a href="/Admin/ManageRole">Roles</a></li>
            <li><a href="/Admin/ManageMembership">Membership</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Sản phẩm</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/ManageProduct">Danh sách sản phẩm</a></li>
            <li><a href="/Admin/ManageProducer">Nhà sản xuất</a></li>
            <li><a href="/Admin/ManageProducType">Loại sản phẩm</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Tương tác khách hàng</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/ManageComment">Bình luận</a></li>
            <li><a href="/Admin/ManageRating">Bài đánh giá</a></li>
            <li><a href="/Admin/ManageFavorite">Danh sách ưa thích</a></li>
        </ul>
    </li>
    <li class="header">ĐƠN HÀNG</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Giỏ hàng</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/ManageCart">Danh sách giỏ hàng</a></li>
            <li><a href="/Admin/ManageCartDetail">Chi tiết giỏ hàng</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Đơn hàng</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/ManageOrder">Danh sách đơn hàng</a></li>
            <li><a href="/Admin/ManageOrderStatus">Trạng thái đơn hàng</a></li>
            <li><a href="/Admin/ManagePayment">Phương thức thanh toán</a></li>
        </ul>
    </li>
    <li class="header">TRANG CHỦ</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Sản phẩm nổi bật</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/ManageFeature">Danh sách sản phẩm</a></li>
        </ul>
    </li>
</ul>


