
<ul class="sidebar-menu" data-widget="tree" style="margin-top:20px">
    <li class="header">CHUNG</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Tài khoản</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Account">Danh sách tài khoản</a></li>
            <li><a href="/Role">Roles</a></li>
            <li><a href="/Membership">Membership</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Sản phẩm</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Product">Danh sách sản phẩm</a></li>
            <li><a href="/Producer">Nhà sản xuất</a></li>
            <li><a href="/ProducType">Loại sản phẩm</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Tương tác khách hàng</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Comment">Bình luận</a></li>
            <li><a href="/Rating">Bài đánh giá</a></li>
            <li><a href="/Favorite">Danh sách ưa thích</a></li>
        </ul>
    </li>
    <li class="header">ĐƠN HÀNG</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Giỏ hàng</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Cart">Danh sách giỏ hàng</a></li>
            <li><a href="/CartDetail">Chi tiết giỏ hàng</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Đơn hàng</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Order">Danh sách đơn hàng</a></li>
            <li><a href="/OrderStatus">Trạng thái đơn hàng</a></li>
            <li><a href="/Payment">Phương thức thanh toán</a></li>
        </ul>
    </li>
    <li class="header">TRANG CHỦ</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Sản phẩm nổi bật</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Feature">Danh sách sản phẩm</a></li>
        </ul>
    </li>
</ul>


