@model AdminApp.Models.ACCOUNT

@{
    Layout = null;
}
<style>

</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Login"))
    {
    <div>
        <h4>Email:</h4>
        <br />
        <input placeholder="Nhập email ..." name="EMAIL" />
        <h4>Mật khẩu:</h4>
        <br />
        <input placeholder="Nhập mật khẩu ..." name="ACCOUNT_PASSWORD" />
        <input type="submit" class="btn btn-default" value="Đăng nhập" />
    </div>
    }
</body>
</html>
