@model AdminApp.Models.ACCOUNT

@{
    Layout = null;
}
<style>

</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h4>Tên đăng nhập:</h4>
        <br/>
        <input placeholder="Nhập tên đăng nhập ..."/>
        <h4>Mật khẩu:</h4>
        <br/>
        <input placeholder="Nhập mật khẩu ..."/>
        <a href="/Admin/Account/ListAccount">Đăng nhập</a>
    </div>
</body>
</html>
